
*.DS_Store
py-helper/pythonProject/.idea/inspectionProfiles/profiles_settings.xml
py-helper/pythonProject/.idea/inspectionProfiles/Project_Default.xml
py-helper/pythonProject/.idea/misc.xml
py-helper/pythonProject/.idea/modules.xml
py-helper/pythonProject/.idea/pythonProject.iml
py-helper/pythonProject/main.py
